<section>
  <h3>Login Here</h3>
  <form class="form">
    <div class="form-control">
      <label for="username" class="form-control-label">Email</label>
      <input type="text" class="form-control-input" placeholder="Email or Username" name="username" id="username">
      <small class="form-control-help"></small>
    </div>
    <div class="form-control">
      <label for="password" class="form-control-label">Password</label>
      <input type="password" class="form-control-input" placeholder="Password" name="password" id="password">
      <small class="form-control-help"></small>
    </div>
    <div class="form-control">
      <button disabled="disabled" class="btn btn-primary"> Login </button>
    </div>
  </form>
</section>
