<section>
  <h3>Register Here</h3>
  <form class="form" [formGroup]="register">
    <div class="form-control">
      <label for="email" class="form-control-label">Email</label>
      <input type="email" class="form-control-input" placeholder="Email" formControlName="email" id="email">
      <small class="form-control-help"></small>
    </div>
    <div class="form-control">
      <label for="username" class="form-control-label">Username</label>
      <input type="text" class="form-control-input" placeholder="Username" formControlName="username" id="username">
      <small class="form-control-help"></small>
    </div>
    <div class="form-control">
      <label for="password" class="form-control-label">Password</label>
      <input type="password" class="form-control-input" placeholder="Password" formControlName="password" id="password">
      <small class="form-control-help"></small>
    </div>
    <div class="form-control">
      <button [disabled]="!register.valid" class="btn btn-primary"> Login </button>
    </div>
  </form>
</section>
